<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<table class="tb_col">
		<tr>
			<th>id</th>
			<th>password</th>
			<th>email</th>
			<th>name</th>
		</tr>
		<tr th:each="user : ${userList}">
			<td th:text="${user.userId}"></td>
			<td th:text="${user.userPw}"></td>
			<td th:text="${user.userEmail}"></td>
			<td th:text="${user.userName}"></td>
		</tr>
	</table>
</body>
</html>